@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  color: #000;
  scroll-behavior: smooth;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --main-color:#9356DC;
  --second-color:#ff79da;
  --third-color:#99e2d0;
  --grey:#eaeaea;
  --grey2:#f6f6f6;
  --gradient:linear-gradient(var(--main-color),var(--second-color));
}

body {
  background-color: var(--grey2);
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.like {
  position: relative;
  font-size: 20px;
  width: 1em;
  height: 1em;
  display: inline-block;
}
.like i {
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  transition: opacity 0.4s ease, transform 1s ease;
}
.like .fa-regular {
  opacity: 1;
  transform: scale(1);
}
.like .fa-solid {
  opacity: 0;
  transform: scale(0.9);
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
}
.like:hover .fa-regular {
  opacity: 0;
  transform: scale(0.9);
}
.like:hover .fa-solid {
  opacity: 1;
  transform: scale(1);
}

.header__logo {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.header__logo img {
  height: 35px;
}
.header__localisation {
  color: #353535;
  font-style: 16px;
  font-weight: 500;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  gap: 17px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header__title {
  padding: 40px 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title h1 {
  font-size: 24pt;
  font-weight: 700;
  text-align: center;
}
.header__title p {
  font-size: 18pt;
  font-weight: 300;
  text-align: center;
}
.header__title a {
  height: 50px;
  align-content: center;
  text-align: center;
  padding: 0 30px;
  background: var(--gradient);
  border-radius: 25px;
  color: #fff;
  font-size: 16pt;
  font-weight: 500;
  margin-top: 30px;
  transition: 0.5s ease;
}
.header__title a:hover {
  transition: 0.5s ease;
  opacity: 0.75;
}
.header__img {
  width: 100%;
  z-index: 1;
  height: 275px;
}

main .section {
  padding: 50px 20px 70px;
}
main .section h2 {
  font-size: 24pt;
  font-weight: 700;
}
main .section__fonctionnement {
  background-color: #fff;
}
main .section__content {
  display: flex;
  flex-direction: column;
}
main .fonctionnement {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  border-radius: 20px;
}
main .fonctionnement__number {
  z-index: 10;
  background-color: var(--main-color);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-right: -12px;
}
main .fonctionnement__number p {
  font-size: 14px;
  color: #fff;
}
main .fonctionnement__content {
  z-index: 1;
  display: flex;
  gap: 25px;
  background-color: var(--grey2);
  padding: 30px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
main .fonctionnement__content i {
  font-size: 16px;
  color: #7E7E7E;
  align-self: center;
}
main .fonctionnement__content p {
  font-size: 16px;
  font-weight: 500;
}
main .fonctionnement:hover i {
  color: var(--main-color);
}
main .restaurant {
  height: 250px;
  margin: 30px 0;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
}
main .restaurant__image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 173px;
  overflow: hidden;
}
main .restaurant__image img {
  -o-object-position: bottom;
     object-position: bottom;
  z-index: 5;
}
main .restaurant__image__new {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  background-color: var(--third-color);
  padding: 7px 0;
  width: 80px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
main .restaurant__image__nonew {
  z-index: 0;
}
main .restaurant__content {
  display: flex;
  justify-content: space-between;
  height: 77px;
  padding: 0 20px;
}
main .restaurant__content__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .restaurant__content__title h3 {
  font-size: 18px;
  font-weight: 700;
}
main .restaurant__content__title h4 {
  font-size: 17px;
  font-weight: 300;
}

.menu {
  position: relative;
  margin-top: -30px;
  z-index: 10;
  border-radius: 25px 25px 0 0;
  padding: 30px 20px;
  background-color: var(--grey);
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.menu__carte {
  margin-top: 40px;
}
.menu__carte h2 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.menu__carte__line {
  width: 40px;
  height: 3px;
  background-color: var(--third-color);
  margin-top: 5px;
}
.menu__carte__card {
  margin-top: 12px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
}
.menu__carte__card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 15px;
  width: 100%;
}
.menu__carte__card__content__price {
  font-size: 15px;
  font-weight: 700;
  color: #353535;
}
.menu__carte__card__icon {
  margin-right: -60px;
  background-color: var(--third-color);
  height: 70px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.5s;
}
.menu__carte__card__icon i {
  color: var(--third-color);
  background-color: #fff;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  font-size: 16px;
  padding: 2px;
}
.menu__carte__card:hover .menu__carte__card__icon {
  margin-right: 0;
  transition: ease 0.5s;
}
.menu__button {
  margin: 40px auto;
  display: block;
  width: 185px;
  padding: 15px 50px;
  color: #fff;
  background: var(--gradient);
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.footer {
  background-color: #353535;
  padding: 22px 25px;
  display: flex;
  flex-direction: column-reverse;
}
.footer__logo {
  margin-bottom: 15px;
  width: 140px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__links a {
  color: #fff;
}
.footer__links a i {
  color: #fff;
  margin-right: 10px;
  width: 11px;
}/*# sourceMappingURL=style.css.map */