@media (min-width: 1440px) {
header{
    .header{
        &__logo{
        padding: 30px;
        height: auto;
        }
        &__localisation{
            box-shadow: none;
        }
        &__title{
        padding: 30px;
        }
        &__img{
            height: 383px;
        }
    }
}

//ACCUEIL
main{
    .section__fonctionnement{
        padding: 50px 0;
    }
    h2, .section__content{
        // width: 1050px;
        margin: 0 180px;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .fonctionnement{
        width: 32%;
        padding-bottom: 0;
    }
    .restaurant{
        width: 45%;
        margin-top: 20px;
    }
}
//MENU
.menu{
    width: 1055px;
    margin: -60px auto 0;
    padding: 50px 210px 40px;
    &__title{
        gap: 25px;
        justify-content: center;
    }
    &__carte{
        h2{
            margin: 0;
        }
    }
}


.footer{
    flex-direction: row;
    justify-content: end;
    padding: 60px 30px 30px;
    &__links{
        flex-direction: row;
        a{
            width: 190px;
        }
    }
}
}